body{
    background-color: gray;
}

.entry{
    padding: 100px 0;
}

.e-admin{
    font-size: 30px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e-user{
    font-size: 30px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
